div.arrowbtm
{
	display: none;
	float: right;
	margin: 56px -16px 0 0;
	border-color: transparent;
	border-style: dashed dashed solid;
	border-width: 0 8px 8px;
	position: relative;
	left: 100px;
	height: 0;
	width: 0;
	z-index: 1;
	border-bottom-color: rgba(0,0,0,.3);
	top: 0px;
}

div.arrowtop
{
	display: none;
	float: right;
	margin: 56px -16px 0 0;
	border-color: transparent;
	border-bottom-color: #fff;
	border-style: dashed dashed solid;
	border-width: 0 8px 8px;
	position: relative;
	left: 100px;
	height: 0;
	width: 0;
	z-index: 1;
	top: 1px;
}

div.speech
{
	display: none;
	top: -20px;
	float: right;
	margin: 3.5em -6em 0 0;
	position: relative;
	width: 175px;
	height: 178px;
	text-align: center;
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 6px #888;
	-moz-box-shadow: 1px 2px 6px #888;
	box-shadow: 1px 2px 6px #888;
}

/*div.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 2px solid green;
	border-color: #666 transparent transparent #666;
}

div.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid green;
	border-color: #fff transparent transparent #fff;
}*/

/*patty's code*/
/*div.speech{
	position: relative;
background-color: transparent;
border-style: dashed dashed solid;
width: 175px;
height: 125px;
border-radius: 4px;
/*text-align: center;
 -moz-box-shadow:    0px 3px 3px 3px #999;
  -webkit-box-shadow: 0px 3px 3px 3px #999;
  box-shadow:         0px 3px 3px 3px #999;
}*/

/*div.speech:after
{
content: '';
position: absolute;
width: 0;
height: 0;
border: 15px solid;
border-bottom-color: #FFF;
border-left-color: #E0E0E0;
border-right-color:#E0E0E0;
border-top-color:#E0E0E0;
top: 30px;
left: 135px;
}*/

a.navSubmenu
{
	display: block;
	color: black;
	text-decoration: none;
}

a.navSubmenu:active
{
	color:black;
}

a.navSubmenu:hover
{
	color: #fff;
}

h3
{
	margin-top: 12px;
	margin-bottom: 12px;	
}

ul#bubbleList
{
	font-size:14px;
	width: 175px;
	height: 83px;
	margin: 0 0;
	padding: 0 0;
	list-style-type: none;
	text-decoration: none;
}

li.menuItem
{
	padding-left: 10px;
	width: 165px;
	line-height: 30px;
	text-align: left;
}

li.menuItem:hover
{
	background-color: rgba(173, 214, 92, .9);
}

li.menuDivider
{
	margin: 5px 0px 5px 8px;
	background-color: rgba(100, 100, 100, .4);
	height: 1px;
	width: 160px;
}